.text-center.pt-5
  %div.pb-3
    %h1.text-primary Friendly Timezones
    %h5.text-muted Visually compare timezones
  .row
    .col-lg-10.offset-lg-1
      = react_component 'Timezones', procs: {timezones: ''}